@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as per your preference */
}

::-webkit-scrollbar-track {
    background-color: #FFCC00; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #00544B; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Apply border-radius to make the thumb rounded */
}

.slick-slide {
    padding: 10px;
}
